<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252848065318-rlu169i8ghstaef96s7dd5jpdalkkk2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252848065318-rlu169i8ghstaef96s7dd5jpdalkkk2t</string>
	<key>API_KEY</key>
	<string>AIzaSyCgDBKaFYtCR7CDHkMrAt-ZRxx0RCpD08U</string>
	<key>GCM_SENDER_ID</key>
	<string>252848065318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.q4me</string>
	<key>PROJECT_ID</key>
	<string>q4me-f3b51</string>
	<key>STORAGE_BUCKET</key>
	<string>q4me-f3b51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252848065318:ios:c98140191a68367ea20fe7</string>
</dict>
</plist>